.lists.user.row.list-group-item
  = image_tag @user.image, alt: "icon", class: "image col-3 rounded-circle"
  .col-7
    %h1
      = @user.name
    %div @nanashi
    %i.fa-solid.fa-gear
.lists
  = link_to("新しくリストを管理", {:controller => :lists, :action => :new}, class: "btn cyaan to_lists_new")
  %h2.col 管理中のリスト
  %ul.list-group
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col ミクちゃんモデル配布用
          %span.badge.n-badge.cyaan 1
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col グミちゃんモデル配布用
          %span.badge.n-badge.cyaan 5
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col カイトくんモデル配布用
          %span.badge.n-badge.cyaan 5
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col うちのこモデル配布用
          %span.badge.n-badge.cyaan 3
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col 共同制作モデル共有用
          %span.badge.n-badge.cyaan
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col 家具モデル配布用
          %span.badge.n-badge.cyaan 1
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col スカイドーム配布用
          %span.badge.n-badge.cyaan
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col エフェクト配布用
          %span.badge.n-badge.cyaan
    %li.list-group-item
      = link_to({:controller => :lists, :action => :show}) do
        %p.row
          %span.col ベータ版配布用
          %span.badge.n-badge.cyaan 1
